.vscode/*
build/*
python_scripts/__pycache__/*.pyc
input/*
output/*
output_evaluation/*

!.vscode
!.vscode/c_cpp_properties.json
!.vscode/settings.json
!.vscode/launch.json

!input
!input/track*
!input/debug*

!output
!output/debug*

!output_evaluation
!output_evaluation/debug*